label, select {
    display: block;
    margin-bottom: 20px;
}

select {
    margin-top: 3px;
}

span {
    display: block;
}

.inline {
    display: inline;
}

.wiadomosc {
    height: 120px;
    text-align: start;
}

input[type="submit"] {
    background-color: firebrick;
    height: 35px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}